.login-wrapper {
    background-color: #c7d9eb;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container {
    background-color: #fff;
    width: 30%;
    height: 55%;
}
.label-class {
    margin-right: 300px;
    display: block;
}
.radio-button-label {
    border-style: none;
}
.input-field {
    width: 75%;
}
.input-field-password {
    width: 75%;
}
.login-button {
    width: 75%;
}
.password-eye {
    position: relative;
    right: 25px;
}
.external-links {
display: flex;
justify-content: space-around;
}