.search-bar-wrapper {
    background-color: #c7d9eb;
    height: 35%;
    padding: 4.5rem;
    border-radius: 0.2rem;
}
.img-list-wrapper {
    width: 72%;
    margin: auto;
    /* background-color: purple; */
}
.img-list-container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /* background-color: pink; */
}
.item {
    width: 30%;
    margin: 10px auto;
    border: 1px solid #c7d9eb;
    /* background-color: gold; */
}
.imgItem {
    cursor: pointer;
    width: 17rem;
    height: 20rem;
    opacity: 1;
    transition: 1s;
    object-fit: cover;
}
.imgItem:hover {
    opacity: 0.5;
}
.action-wrapper {
    /* background-color: yellow; */
    justify-content: space-around;
}
.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: #b4cce4;
    border-radius: 50%;
    border: #c7d9eb solid 1px;
}
.icon-wrapper:hover {
    height: 55px;
    width: 55px;
    transition: 0.5s;
}
.action-icon {
    /* text-align: center; */
    font-size: 1.6em;
    cursor: pointer;
    color: #fff;
}
.after-action-icon {
    color: #ff8080;
}
.space {
margin : 15px
}
.yellow {
    color: yellow
}
.red {
    color: red
}
.name-text {
    color: #fff;
    position: relative;
    bottom: 70px;
    /* left: 16px; */
    font-weight: 900 ;
}
.category {
    width: 25%;
    margin: auto;
    border-radius: 3rem;
    border: solid 1px #b4cce4;
    position: relative;
    bottom: 80px;
    color: #fff;
    font-weight: 500;
}
.comment-field {
    border-style: none;
}
.search-notification {
    font-weight: 900;
}
.custom-skeleton-wrapper {
    height: 20vh;
    width: 20vw;
    background-color: #d9d9d9;
    border: 1px solid black;
}
.pagination-button {
     /* background-color: #c7d9eb; */
     border: 1px solid #c7d9eb;;
     border-radius: 3%;
}
/* LANDING ANIMATION  */
.landing-animation {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* LANDING ANIMATION ENDS  */
@media screen and (max-width:769px) {
    .search-bar-wrapper {
        background-color: #c7d9eb;
        height: 35%;
        width: 100%;
        padding: 2rem;
        border-radius: 0.2rem;
    }
    .img-list-container {
        display: flex;
        flex-wrap: wrap;
    }
    .imgItem {
        width: 100%;
    }
}

@media screen and (max-width:376px) {
    .search-bar-wrapper {
        background-color: #c7d9eb;
        height: 35%;
        width: 100%;
        padding: 2rem;
        border-radius: 0.2rem;
    }
    .img-list-container {
        display: flex;
        flex-wrap: wrap;
    }
    .imgItem {
        width: 100%;
    }
    .item {
        width: 100%;
    }
}