.field-wrapper {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 70%;
}
.searchBar {
    width: 100%;
    border-style:none;
    border-radius: 3px;
    padding: 0.9rem;
}
.search-icon-wrapper {
    background-color:#fff;
    display: flex;
    align-items: center;
}
.search-result-notification {
    font-size: 1.6em;
}
/* LANDING ANIMATION  */
.landing-animation {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* LANDING ANIMATION ENDS  */