.single-photo-wrapper {
background-color: #f2f2f2;
width: 100vw;
}
.single-photo-container {
background-color: #8c8c8c;
width: 60%;
margin: auto;
}
.main-photo {
    width: 50%;
    height: 20%;
}
.single-photo-text {
    width: 50%;
    background-color: #fff;
}
.single-photo-text {

}
.photo-location {
    
}