.single-photo-wrapper {
background-color: blueviolet;
}
.single-photo-container {
background-color: brown;
}
.single-photo {

}
.single-photo-text {
    background-color: blueviolet;
}
.single-photo-text {

}
.photo-location {
    
}